<!DOCTYPE html>
<html>
  <head>
    <title>StarterKit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= content_tag :div, nil, id: 'rootState', data: @redux_state.to_json %>

    <%= yield %>
  </body>
</html>
